doctype html
html(lang="en")
  head
    title= demo
    meta(charset="utf-8")
  body
    h3 signup with a new account

    form(method="POST" action="/signup")
      input(name="name")
      input(name="pass" type="password")
      input(type="submit" value="signup")
